*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
  overflow-x: none;
}
.main {
  width: 101%; 
  height: 900px; 
  margin: -10px;
  display: flex;
  flex-direction: column;
}

.main video {
  position: absolute;
  width: 101.1%;
  height: 101.5%;
  object-fit: cover;
  z-index: -1;
}
.head{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content:space-around; 
    
}
.head a{
    text-decoration: none;
    font-size: 25px;
    align-content: center;
    color: white;
}
.main-con{

    text-align: center;
    margin-top: 450px;
    margin-left: 500px;
    color: white;
    width: 500px;
    padding-bottom: 30px;
    font-size: 20px;
}
@media (max-width:767px)
{
    .head{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100px;
        justify-content:space-around; 
    }
    .head a{
        text-decoration: none;
        font-size: 15px;
        align-content: center;
        color: white;
    }
    .main-con{
        text-align: center;
        margin-top: 400px;
        margin-left:5px;
        color: white;
        width: auto;
        padding-bottom: 30px;
    }
    .main video {
      position:absolute;
      width: 105%;
      height: 85%;
      object-fit: cover;
      z-index: -1;
}
    .head img,.head h1, .landabt img {
    display: none;
    }
}

.about {
  display: grid;
  grid-template-columns: 1.7fr 1fr; 
  width: 100%;
  height: auto;
  border-radius: 10px;
  gap: 30px;
 
}
.right {
  padding: 20px;
  width: 90%;

}

.left {
  width: 90%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: left;

}
.ache{
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  height:800px;
  width: 100.8%;
  margin-left: -8px;
  gap: 0px;

}

@media(max-width:767px)
{
    .about,.ache{
       height: auto;
        grid-template-columns:1.5fr;
    }
    .right {
      padding: 1.7px;
      margin-left: 10px;
    }

    .left {
    padding: 0px;
    flex-direction: column;
    width: 100%;
    margin-left: 15px;
    }
}
.fea{
  padding: 30px;
  margin: 0 auto;    
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  font-size: 8px;
  height: 800px;
}
.fea-cont{
  transition: transform 0.2s;
}
.fea-text{
  height: 200px;
  font-size: 18px;
}
.fea-cont img{
  width: 100%;
  height: 300px;
}
.fea-cont:hover {
  transform: scale(1.06);
}
@media(max-width:767px){
  .fea{

    grid-template-columns: 1fr;
    gap: 0px;
    height: 1800px;
  }
  .fea-cont{
    margin-left: 5px;
  }
}
.form-container {
  background: white;
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;

}
.tdf{
  padding: 30px;
  background-color: rgb(144, 144, 144);
}
.foot{
  padding: 30px;
  background-color: rgb(144, 144, 144);
  color: aliceblue;
}